body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #0077cc;
    font-size: 1.em;
    padding: 2px 2px;
    border-radius: 1px;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.5em;
    font-family: 'Helvetica', 'Arial', Sans-Serif;
}

h2 {
    font-size: 1.3em;
    font-family: 'Helvetica', 'Arial', Sans-Serif;
}

h3 {
    font-size: 1.1em;
    font-family: 'Helvetica', 'Arial', Sans-Serif;
}

h4 {
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', Sans-Serif;
}
p {
    font-size: 1.1em;
    line-height: 1.1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    body {
        margin: 1px auto;
        width: 90%;
    }
    h1 {
        font-size: 2em;
    }
    p, nav ul li, footer ul li {
        font-size: 1em;
    }
    nav ul li, footer ul li {
        display: block;
        margin-bottom: 10px;
    }
}
