<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      </script>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	    			<li><a href="/">Research</a></li>
		        	<li><a href="/teaching">Teaching</a></li>
		        	<li><a href="/talks">Talks</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/about">About / Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			  {{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:oliver.duerr@zhaw.ch">email</a></li>
	        		<li><a href="https://github.com/oduerr">github.com/oduerr</a></li>
	        		<li><a href="https://www.researchgate.net/profile/Oliver_Duerr">researchgate</a></li>
	        		<li><a href="https://ch.linkedin.com/in/oliver-d%C3%BCrr-64154213">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
