<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/teaching">Teaching</a></li>
		        	<li><a href="/projects">Research Projects</a></li>
		        	<li><a href="/publications">Publications</a></li>
		        	<li><a href="/talks">Talks</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			  {{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:oliver.duerr@zhaw.ch">email</a></li>
	        		<li><a href="https://github.com/oduerr">github.com/oduerr</a></li>
	        		<li><a href="https://www.researchgate.net/profile/Oliver_Duerr">researchgate</a></li>
	        		<li><a href="https://ch.linkedin.com/in/oliver-d%C3%BCrr-64154213">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
